/* Reset some default styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and general styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f7fa;
    color: #333;
    line-height: 1.6;
}

/* Navigation Bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0px 20px;
    background-color: #1c2b38; /* Solid dark blue color */
    color: white;
}

.navbar .logo img{
    height: 3.5rem;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

/* Hero Section */
.hero {
    background: linear-gradient(to right, #2a93d5, #3b9ab7);
    color: white;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    gap: 40px;
    padding: 10px;
    flex-wrap: wrap; /* makes it responsive */
}

.hero-text {
    flex: 1;
    min-width: 60%;
}

.hero-text h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 1.2rem;
    margin-bottom: 50px;
}

.cta-button {
    background-color: #f07b36;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #f05a16;
}

.hero-image {
    flex: 1;
    min-width: 280px;
    text-align: center;
}

.hero-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
/* Features Section */
.features {
    display: flex;
    justify-content: space-around;
    padding: 50px 20px;
    background-color: #ffffff;
}

.feature-item {
    text-align: center;
    width: 30%;
}

.feature-item h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
}

.feature-item p {
    font-size: 1rem;
    color: #555;
}

/* Footer */
footer {
    text-align: center;
    padding: 15px;
    background-color: #1c2b38;
    color: white;
    margin-top: 10px;
}
